/*      Base color scheme and style for the document     */

body{
    background-color: whitesmoke;
    color: #333;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.banner{
  background-color: darkblue;
  height: 60vh;
  margin: 25px 0;
  border-bottom: thick solid darkorange;
  h1{
    color: white;
    margin-top: 25vh;
    margin-left: 10vw;
    float: left;
  }
}

.water-icon{
  margin-top: 20vh;
  margin-right: 30vw;
  float: right;
  color: white;
}

main {
    flex: 1 0 auto;
}

h1{
  margin-bottom: 6.1rem;
  text-align: center;
}

// h2,h3{
//   text-align: center;
// }
/*            Navigation Menu & Side Navigation Styles           */

.nav-padding{
    margin: 0 50px
}

// FIX SIDENAV SPACING
.side-nav li>a {
    padding: 0 16px;
  }
  //FIX SIDEBAR DIVIDERS
  .side-nav .divider {
    margin:0;
    height:8px;
    border-bottom:1px solid #e0e0e0;
    background-color: transparent;
  }
  
  // SIDENAV HEADER
  .sidenav-header {
  background: url("../images/user-bg.jpg") no-repeat center center;
  background-size: cover;
  margin-bottom: 0px;
  padding: 15px 0 0 15px;
    .row {
      margin-bottom: 0;
    }
  }
  .sidenav-footer {
  margin-bottom: 0px;
  padding: 0;
    .row {
      margin-bottom: 0;
      .social-icons {
        a {
          opacity: 0.5;
          padding: 0;
          text-align:center;
          &:hover {
            background-color:inherit;
            opacity: 1;
          }
        }
      }
    }
  }

  /*      Footer Adjustments      */

  .footer-margin-reset{
    margin-bottom: 0;
  }

  /*          Home Page           */

  .main-area-image{
    float: left;
    width: 60%;
    margin-right: 5px;
    -webkit-clip-path: polygon(0% 0%, 59.52% 0.19%, 101.08% 7.67%, 101.33% 14.99%, 98.78% 18.47%, 97.34% 31%, 92.2% 34.26%, 82.61% 81.21%, 70.93% 83.55%, 44.16% 99.99%, 0% 100%);
    clip-path: polygon(0% 0%, 59.52% 0.19%, 101.08% 7.67%, 101.33% 14.99%, 98.78% 18.47%, 97.34% 31%, 92.2% 34.26%, 82.61% 81.21%, 70.93% 83.55%, 44.16% 99.99%, 0% 100%);
    shape-outside: polygon(0% 0%, 59.52% 0.19%, 101.08% 7.67%, 101.33% 14.99%, 98.78% 18.47%, 97.34% 31%, 92.2% 34.26%, 82.61% 81.21%, 70.93% 83.55%, 44.16% 99.99%, 0% 100%);
  }

/*          Quiz Page           */

#resultArea{
  display: none;
}

h2.quizScore{
  font-family: Arial, sans-serif;
  font-size:25px;
}

div.quizAnswers{
  font-family: Arial, sans-serif;
  font-size:16px;
  color: #424242;
  padding: 4px 0 4px 0;
}

label {
  font-family: Arial, sans-serif;
  font-size:14px;
  color: #424242;
  vertical-align:top;
}

.hide {
	  display:none;
}

.wrong-answer{
  color: red;
  margin: 0;
  line-height: 0;
}

.right-answer{
  color: green;
  margin: 0;
  line-height: 0;
}
/*SFS light red = #c30b0a;
SFS dark red = #9f2026; */


  
